@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="buttons">
    <button @onclick="NavigateToLogin">Iniciar Sesión</button>
    <button @onclick="NavigateToRegister">Registrar</button>
</div>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}
