@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Bienvenido a FinanzasHogar</h1>
    <p class="lead">Administra tus finanzas de manera eficiente y sencilla.</p>
    <div class="buttons">
        <button @onclick="NavigateToLogin" class="btn btn-primary">Iniciar Sesión</button>
        <button @onclick="NavigateToRegister" class="btn btn-primary">Registrar</button>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}
