@inherits LayoutComponentBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FinanzasHogar</a>
    </div>
</div>
<NavLink href="/activos/sumar" Match="NavLinkMatch.All">
    <span class="oi oi-calculator" aria-hidden="true"></span> Sumar Activos
</NavLink>

<div class="@NavMenuCssClass nav-scrollable">
    <!-- Menú lateral vacío -->
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
